.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f0f0f0;
}

.header_wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #d7d7d7;
  height: 60px;
  padding: 0 30px;
}

.header_logoIcon {
  flex-grow: 1;
}

.header_logoIcon img {
  width: 46px;
}

.logoutIcon {
  height: 45px;
  width: 45px;
}

.logoutIcon img {
  width: 35px;
  opacity: 0.5;
}

.dashboard-name {
  margin-right: 25px;
  color: #787878;
  font-weight: 700;
}